apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
type: Opaque
stringData:
  # these are automatically base64 encoded by k8s when applied
  username: "root"
  password: "Shangrilla#123"
  mysql-root-password: "Shangrilla#123"
