apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  mysql-root-password: "{{ mysql_root_password }}"
  mysql-password: "{{ mysql_password }}"
  mysql-database: "{{ mysql_database }}"
  mysql-user: "{{ mysql_user }}"

---
apiVersion: v1
kind: Secret
metadata:
  name: rhine-secrets
type: Opaque
stringData:
  mail-username: "{{ mail_username }}"
  mail-password: "{{ mail_password }}"
  jwt-secret-key: "{{ jwt_secret_key }}"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
  labels:
    app: rhine-mysql
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
