apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  mysql-root-password: "root-ansible-db"
  mysql-password: "rhine-db-password"
  mysql-database: "rhine_db"
  mysql-user: "rhine_user"

---
apiVersion: v1
kind: Secret
metadata:
  name: rhine-secrets
type: Opaque
stringData:
  mail-username: "onantabasseyvee@gmail.com"
  mail-password: "zoyp uhah pnsj dkyb"
  jwt-secret-key: "404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
  labels:
    app: rhine-mysql
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
