@import "tailwindcss";

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100dvh;
}

body {
  background-color: #ffffff;
  color: #1f2937;
  font-family: system-ui, -apple-system, sans-serif;
}

.page-logo {
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .page-logo {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .page-logo {
    justify-content: flex-start;
  }
}

@media (min-width: 1280px) {
  .page-logo {
    justify-content: center;
  }
}