@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #7733ff;
  --color-primary-hover: #661aff;
  --color-primary-light: #7733ff1a;

  /* Semantic Theme Variables */
  --color-bg-primary: #ffffff;
  --color-text-primary: #1f2937;
}

@layer base {
  .dark {
    --color-primary: #9966ff;
    --color-primary-hover: #884dff;
    --color-primary-light: #9966ff1a;
    --color-bg-primary: #1a1a1a;
    --color-text-primary: #cccccc;
  }
}


body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100dvh;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}

.page-logo {
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .page-logo {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .page-logo {
    justify-content: flex-start;
  }
}

@media (min-width: 1280px) {
  .page-logo {
    justify-content: center;
  }
}