@import "tailwindcss";

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100dvh;
}

body {
  background-color: #ffffff;
  color: #1f2937;
  font-family: system-ui, -apple-system, sans-serif;
}

main {
  padding-left: 1rem; 
  padding-right: 1rem;
}

.page-logo {
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  main {
    padding-left: 2rem; 
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .page-logo {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  main {
    padding-left: 4rem; 
    padding-right: 4rem;
  }

  .page-logo {
    justify-content: flex-start;
  }
}

@media (min-width: 1280px) {
  main {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .page-logo {
    justify-content: center;
  }
}